.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media only screen and (max-width:700px){
  body{
    background-color: grey;
  }
  .cards{
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) )
  }
  .card img{
    object-position: 0px -26px;
  }
  .per-episode:hover{
    transform: none !important;
  }
  

}
@media only screen and (max-width:480px){
  .episodes-grid {
    grid-template-columns: auto !important;
  }
}