* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Breaking_Bad;
  src: url(Breaking_Bad.otf);
}
:root{
  --font:Breaking_Bad;
}
html,
body {
  /* background: #000 url('img/bg.jpg') no-repeat center center/cover; */
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  
  background: linear-gradient( 45deg, #020402, #2725257d);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.headerText{
  font-family: var(--font);
  color:white;
  text-align:center;
  font-size:5rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}
.page-link{
   color: #ffffff !important;
    background-color: #173911 !important;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(236 236 236 / 47%) !important;
    transition: all 0.5s;
}
select{
      font-size: 1.5rem;
    color: white;
    background: #00000033;
    padding: 10px;
    transition: all 0.5s;
}
option{
     color: white;
    background: #171716;
}
select:hover{
  cursor: pointer;
  background-color: darkgreen !important;
}
 option:hover {
    box-shadow: 0 0 10px 100px rgb(199, 104, 104) inset;
}